<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Official webRunes WRIO OS node">
	<meta name="author" content="webRunes">
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://webrunes.github.io/Default-WRIO-Theme/css/webrunes.css" rel="stylesheet">

	<link rel="shortcut icon" href="ico/favicon.ico">

	<script type="text/javascript">

		function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

		function getLoginUrl() {
			var host = window.location.host;
			host = host.replace('chess.', 'login.');
			return "//" + host;
//			return "http://127.0.0.1:5000";
		}

		function openAuthPopup() {
			var loginUrl = getLoginUrl();
			var callbackurl = "//" + window.location.host + '/callback'
			var newWin = window.open(loginUrl + '/authapi?callback=' + encodeURIComponent(callbackurl), "Login", "height=500,width=700");
		}

		function logoff() {
			$.ajax('/logoff').success(function () {
				location.reload();
			});
		}

		function saveDraft() {
			window.localStorage['draft'] = !0;
		}

		function start(user) {
			<% if (invite && invite !== "") { %>
				$.ajax({
					type: "POST",
					url: "/api/invite_callback",
					data: {
						user: user,
						uuid: "<%= uuid %>",
						invite: "<%= invite %>"
					}
				}).success(function () {
					success();
					window.close();
				}).fail(function() {
					document.querySelector('.note').innerHTML = "<h4>Expired link</h4>";
				});
			<% } else { %>
				$.ajax({
					type: "POST",
					url: "/api/access_callback",
					data: {
						uuid: "<%= uuid %>",
						user: user
					}
				}).success(function () {
					success();
					window.close();
				});
			<% } %>
		}

		function success() {
			document.querySelector('.note').innerHTML = "<h4>Game started, you can return to Twitter</h4>";
		}

		function setWRIOAuthData() {
			location.reload();
		}


		$(document).ready(function() {
			var username = "another player";
			document.querySelector('.ok').disabled = "disabled";
			<% if (user && user.username) { %>
				username = "player @<%= user.username %>";
			<% } %>

			<% if (!alien) { %>
				document.querySelector('.note').innerHTML = "<h4>This link is for the " + username + "</h4>";
			<% } else { %>
				<% if (expired) { %>
					document.querySelector('.note').innerHTML = "<h4>Expired link</h4>";
				<% } else { %>
						<% if (user) { %>
							<% if (verified) { %>
								start("<%= user.titterID %>");
							<% } else { %>
								logoff();
							<% } %>
						<% } else { %>
							openAuthPopup();
						<% } %>
				<% } %>
			<% } %>
		});
	</script>
</head>
<body>
	<div class="container-liquid">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="navbar navbar-inverse main navbar-fixed-top row-offcanvas-menu">
                    <div class="navbar-header">
                        <ul class="nav menu pull-right">
                            <li><a href="webrunes-contact.htm" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-envelope"></span></a></li>
                            <li><a href="#" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-lock"></span></a></li>
                            <li><a href="#" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-fullscreen"></span></a></li>
                            <li><a href="#" class="btn btn-link btn-sm visible-xs" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></a></li>
                            <li><a href="#" class="btn btn-link btn-sm visible-xs" data-toggle="offcanvas"><span class="glyphicon glyphicon-transfer"></span></a></li>
                        </ul>
                        <a href="#" class="navbar-brand">&nbsp;</a>
                    </div>
                    <div class="navbar-collapse in">
                        <ul class="nav navbar-nav" id="nav-accordion">
                            <li class="panel active"><a href="#element1" class="collapse" data-parent="#nav-accordion" data-toggle="collapse">Chess</a>
                                <div class="in" id="element1">
                                </div>
                            </li>
                            <li class="panel"><a href="#element3" class="collapsed" data-parent="#nav-accordion" data-toggle="collapse"><span class="qty btn btn-xs pull-right">324</span>Blogs</a>
                                <div class="collapse" id="element3">
                                    <ul class="nav nav-pills nav-stacked sub">
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn btn-xs"></span></a><a href="#">My best post</a></li>
                                        <li><a href="#" class="pull-right"><span class="glyphicon glyphicon-remove btn btn-xs"></span></a><a href="#">Great blogs review</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="new panel"><a href="#element4" data-parent="#nav-accordion" data-toggle="collapse" class="collapsed"><span class="glyphicon glyphicon-plus"></span></a>
                                <div class="collapse" id="element4"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

 			<div class="content col-xs-12 col-sm-5 col-md-7">
                <div class="margin">
                    <ul class="info nav nav-pills nav-stacked" id="profile-accordion">
                        <li class="panel"><a href="#profile-element" data-parent="#profile-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Logged with WRIO</a>
                            <div class="in" id="profile-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12 col-md-6 col-lg-5">
                                            <img src="img/profile1-200x200.jpg" class="pull-left">
                                            <ul class="details">
                                                <li>Name: Alexey Anshakov</li>
                                                <li>Registered: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Followers: 1,634</li>
                                                <li>Posts: 1,634</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-7">
                                            <div class="media-body">
                                                Disclaimer: We start a series of stories describing various issues and problems that are related for the most part to the Internet, and our vision of possible ways to solve them. Those will often be followed by previews of projects mentioned in the stories. Keep in mind: some of them might change, some will remain just our fantasy; at this moment we are a small team, but with a great desire to change this world for the better or at least a little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
					<div align="center" class="form-group">
						<% if (user) { %>
							<h4><%= user.lastName %></h4>
							<button type="button" class="btn btn-default" onclick="logoff();">Log out</button>
							<button type="button" class="btn btn-primary ok" onclick="start('<%= user.titterID %>');"><span class="glyphicon glyphicon-ok"></span>
								<% if (invite) { %>
									Accept
								<% } else { %>
									Start
								<% } %>
							</button>
						<% } else { %>
							<button type="button" onclick="saveDraft();openAuthPopup();" class="btn btn-primary ok" style="margin-top: 10px"><span class="glyphicon glyphicon-ok"></span>
								<% if (invite) { %>
									Login and accept
								<% } else { %>
									Login and start
								<% } %>
							</button>
						<% } %>
						<div class="note"><h4>...wait please</h4></div>
					</div>
                    <ul class="info nav nav-pills nav-stacked" id="help-accordion">
                        <li class="panel"><a href="#help-element" data-parent="#help-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Need help?</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas" id="sidebar">
                <div class="sidebar-margin">
                    <ul class="info nav nav-pills nav-stacked" id="ticket-accordion">
                        <li class="panel"><a href="#ticket-element" data-parent="#ticket-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>App</a>
                            <div class="in" id="ticket-element">
                                <div class="tickets">
                                    <div class="media thumbnail">
                                        <div class="col-xs-12">
                                            <img src="img/webgold-preview.jpg" class="pull-left">
                                            <ul class="details">
                                                <li>Name: Chess</li>
                                                <li>Created: 22 Jun 2013</li>
                                                <li>Rating: 244</li>
                                                <li>Users: 1,634</li>
                                                <li>Access: Free &middot; Open source</li>
                                                <li>Developer: webRunes</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="media-body">
                                                Disclaimer: We start a series of stories describing various issues and problems that are related for the most part to the Internet, and our vision of possible ways to solve them. Those will often be followed by previews of projects mentioned in the stories. Keep in mind: some of them might change, some will remain just our fantasy; at this moment we are a small team, but with a great desire to change this world for the better or at least a little bit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="margin-bottom">
                        <button type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span>Start</button>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked tooltip-demo" id="sidebar-accordion">
                    <li class="panel"><a href="#sidebar-element1" data-parent="#sidebar-accordion" data-toggle="collapse"><span class="glyphicon glyphicon-chevron-down pull-right"></span>Cover</a>
                        <div class="in" id="sidebar-element1">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#"><span class="pull-right">3</span>News</a></li>
                                <li><a href="blogs-about.htm">About</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Users</a></li>
                                <li><a href="webgold-terms.htm"><span class="label label-success pull-right">Class A</span>Terms</a></li>
                                <li><a href="webgold-privacy.htm"><span class="label label-success pull-right">Class A</span>Privacy</a></li>
                                <li class="disabled"><a href="#" data-toggle="tooltip" data-placement="left" title="Not yet available">Download source</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="active"><a href="start.htm">Chess</a></li>
                </ul>
            </div>

        </div>
    </div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
