<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://webrunes.github.io/Default-WRIO-Theme/css/webrunes.css" rel="stylesheet">
	<script type="text/javascript">

		function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

		function getLoginUrl() {
			var host = window.location.host;
			host = host.replace('chess.', 'login.');
			return "//" + host;
		}

		function openAuthPopup() {
			var loginUrl = getLoginUrl();
			var callbackurl = "//" + window.location.host + '/callback'
			var newWin = window.open(loginUrl + '/authapi?callback=' + encodeURIComponent(callbackurl), "Login", "height=500,width=700");
		}

		function logoff() {
			$.ajax('/logoff').success(function () {
				location.reload();
			});
		}

		function saveDraft() {
			window.localStorage['draft'] = !0;
		}

		function start(user) {
			<% if (invite && invite !== "") { %>
				$.ajax({
					type: "POST",
					url: "/api/invite_callback",
					data: {
						user: user,
						invite: "<%= invite %>"
					}
				}).success(function () {
					success();
					window.close();
				}).fail(function() {
					document.querySelector('.note').innerHTML = "<h4>Expired link</h4>";
					document.querySelector('.ok').disabled = "disabled";
				});
			<% } else { %>
				$.ajax({
					type: "POST",
					url: "/api/access_callback",
					data: {
						user: user
					}
				}).success(function () {
					success();
					window.close();
				});
			<% } %>
		}

		function success() {
			document.querySelector('.note').innerHTML = "<h4>Game started, you can return to Twitter</h4>";
			document.querySelector('.ok').disabled = "disabled";
		}

		function setWRIOAuthData() {
			location.reload();
		}


		$(document).ready(function() {
			var username = "another player";
			<% if (user && user.username) { %>
				username = "player @<%= user.username %>";
			<% } %>

			<% if (!alien) { %>
				document.querySelector('.note').innerHTML = "<h4>This link is for the " + username + "</h4>";
				document.querySelector('.ok').disabled = "disabled";
			<% } else { %>
				<% if (expired) { %>
					document.querySelector('.note').innerHTML = "<h4>Expired link</h4>";
					document.querySelector('.ok').disabled = "disabled";
				<% } else { %>
					if (window.localStorage['draft']) {
						window.localStorage.removeItem('draft');
						<% if (user) { %>
							start("<%= user.titterID %>");
						<% } %>
					} else {
						<% if (!user) { %>
							saveDraft();
							openAuthPopup();
						<% } %>
					}
				<% } %>
			<% } %>
		});
	</script>
</head>
<body>
	<div align="center" class="form-group">
		<% if (user) { %>
			<h4><%= user.lastName %></h4>
			<button type="button" class="btn btn-default" onclick="logoff();">Log out</button>
			<button type="button" class="btn btn-primary ok" onclick="start('<%= user.titterID %>');"><span class="glyphicon glyphicon-ok"></span>
				<% if (invite) { %>
					Accept
				<% } else { %>
					Start
				<% } %>
			</button>
		<% } else { %>
			<button type="button" onclick="saveDraft();openAuthPopup();" class="btn btn-primary" style="margin-top: 10px"><span class="glyphicon glyphicon-ok"></span>
				<% if (invite) { %>
					Login and accept
				<% } else { %>
					Login and start
				<% } %>
			</button>
		<% } %>
		<div class="note"></div>
	</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
